.hover-zoom {
    box-shadow: 0 0 0 0 rgba(104, 103, 103, 0.504);
    transition: transform 0.6s , box-shadow 0.3s ease; 
}
.hover-zoom:hover {
    box-shadow: 0 0 15px 5px rgba(104, 103, 103, 0.504); 
    transform: scale(1.03); 
}
